<table class='table'>
	<thead>
		<tr>
			<th>ジャンル検索</th>
		</tr>
	</thead>
	<tbody>
		<% genres.each do |genre| %>
		<tr>
			<th><%= link_to  genre.name, {controller: :products, action: :index}, genre_id: genre.id %></th>
		</tr>
		<% end %>
	</tbody>
</table>