<div class ="genres-box">
<table class='table'>
	<thead>
		<tr>
			<th>ジャンル検索</th>
		</tr>
	</thead>
	<tbody>
		<% genres.each do |genre| %>
		<% if genre.validity == true %>
		<tr>
			<th><%= link_to  genre.name, genre_path(genre) %></th>
		</tr>
		<% end %>
		<% end %>
			<th><%= link_to "すべての商品を見る", products_path %></th>
	</tbody>
</table>
</div>
