<div class = "thanks">
  <h1>ご購入ありがとうございました！</h1>
  <div id="container_thanks">
	<div id="theTargetThanks">
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
	  <div class="thankslide"></div>
    </div>
  </div>
</div>

