<div class="container">
  <div class="row">
    <div style="text-align: center;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table border="0" align="center">
         <tr height="50">
           <th>メールアドレス　</th>
           <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size:50 %></td>
          </tr>
          <tr height="50">
            <th>パスワード　</th>
            <td><%= f.password_field :password, autocomplete: "current-password", size:50 %></td>
          </tr>
    </table>

    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-primary" %>
    </div>
    <% end %>
    </div>
  </div>
</div>