    <div class=" map col-xs-2"></div>
    <div class=" map col-xs-10">
      <h2>お店の場所</h2>
        <div id='map'></div>
        <style>
        #map{
          height: 600px;
          width: 95%;
          margin:auto;
        }
        </style>

        <script>
        function initMap(){
          let map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 36.56455, lng: 138.144452},
          zoom: 18
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
    </div>
  </div>