<div style = "text-align: center">

		<h1>長野県にある小さな洋菓子店「ながのCAKE」</h1>

         <!-- いい感じの写真を挿入? -->

		<p style ="size: 10000px;">昨年から始めたInstagramで話題となり、全国から注文が殺到！<br>
		お電話以外でも気軽に注文が出来るよう通販サイトを開設いたしました。</p>
		<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
		〒165-5768 長野県長野市x-x-xx
</div>
<div id="container_about">
	<div id="theTargetAbout">
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
	</div>
</div>