<div class="container">
<div class="row" style = "text-align: center">

	<h1>地域の皆さまに愛されて50年―――</h1>
    <br>
	<p style ="size: 10000px;">
	<strong>ながのcake</strong>は、1963年の創業以来、<br>
	「皆さまのお茶の時間をちょっと楽しくするお菓子作り」<br>
     をモットーに精進してまいりました。</p>

  <div class="row">
  <h2>Concept</h2>
  <div class="col col-xs-6"><%= image_tag 'about/purinkun.jpg', size: '600x400' %></div>
  <div class="col col-xs-6" style="line-height: 60px;">
  	<p>年に一度の贅沢なブランド品より、毎日でも食べたくなるような<br>
  	飽きのこない味とお手頃価格。<br>
  	ながのcakeは、長野県松本市にある小さなお菓子のお店です。<br>
  	町の皆さまにとって少しでも身近な存在でありたい。<br>
    私たちの作るお菓子を通して、遠くにお住まいの方々にも、松本の町の優しさを伝えたい。<br>
  	そのような思いを胸に、日夜お菓子作りに励んでいます。</p>
  </div>
</div>

<div class="row">
  <h2>こだわり</h2>
  <div class="col col-xs-6" style="line-height: 45px;">
  	<p>安心してお召し上がりいただける、こだわりの原材料<br>
  	ながのcakeのお菓子は、とてもシンプル。<br>
    卵にバター、小麦粉、砂糖。<br>
    少ない原材料だからこそ、お菓子のプロが厳選したものを。<br>
    皆さまに安心してお召し上がりいただけるように、<br>
    ながのの美味しいものを皆さまにもっと知っていただけるように。<br>
    私たちは、長野県の農家や牧場から食材を直接仕入れることで、<br>
    地域の発展に貢献するとともに、<br>
    新鮮でおいしいお菓子をお届けしています。</p>
  </div>
  <div class="col col-xs-6"><%= image_tag 'about/raityo.jpg', size: '600x400' %></div>
</div>

<div class="row">
  <h2>沿革</h2>
  <div class="col col-xs-6"><%= image_tag 'about/sakuramuffin.jpg', size: '600x400' %></div>
  <div class="col col-xs-6">
  	<h3>ながのcakeの歩み</h3>
  	<table class="table">
  		<tbody>
  			<tr>
  				<td>1963年</td>
  				<td>長野県松本市にて創業</td>
  			</tr>
  			<tr>
  				<td>1979年</td>
  				<td>御嶽山大噴火。<br>復興を応援するために発売された「ステラ」が好評に。</td>
  			</tr>
  			<tr>
  				<td>1998年</td>
  				<td>長野オリンピック開催にさきがけ、<br>特別天然記念物をかたどった「雷鳥」を発売。</td>
  			</tr>
  			<tr>
  				<td>2006年</td>
  				<td>平成十八年豪雪</td>
  			</tr>
  			<tr>
  				<td>2011年</td>
  				<td>長野県北部地震。2代目社長就任</td>
  			</tr>
  			<tr>
  				<td>2015年</td>
  				<td>Instagram開始。</td>
  			</tr>
  			<tr>
  				<td>2019年</td>
  				<td>新商品「プリンくん」がInstagramで話題に。<br>配送注文のご希望にお応えするため、当サイトを開設。</td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</div>

</div>

<!-- 伊那市のスライドショー -->
<div class="row">
<h2 style="text-align: center">Gallery  (※写真は伊那市です)</h2>
<div id="container_about">
	<div id="theTargetAbout">
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
	</div>
</div>
</div>

</div>

<p style ="size: 10000px;"></p>
<div class="col col-xs-6"></div>