/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* initialize */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	color: #6c6b6b;
}

a{
	text-decoration: none;
}

.clearfix::after{
	content: "";
	display:block;
	clear:both;
}

header,nav,footer{
	font-family:Chalkduster,"Bradley Hand",Courier,"Segoe Print",sans-serif;
}

.btn {
border-radius:8px;
border-bottom: solid 5px #627295;
}
.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
/* font (font-family: 'kodomo';で使用可能)*/
@font-face {
  font-family: 'kodomo';
  src: font-url('KodomoRounded-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'yasashisa';
	src: font-url('07yasashisa.ttf')format('truetype');
	font-weight: normal;
	font-style: normal;
}

h2{
  background: #c6f5eb;
    box-shadow: 0 0 0 5px #c6f5eb;
    border: dashed 1px #5a8e83;
    padding: 0.2em 0.5em;
    color: #645244;
    border-radius: 8px;
}

table{
  color: #645244;
}
h1 {
    margin: 0;
    padding: 0;
}

h4 {
  position: relative;
  color:#655244;
}

h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}
/*popup*/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 650px;
  padding: 50px;
  background-color: #eefffe;
  border-radius:8px;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.pupup_button{
  margin: 10px
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,.8);
  z-index: 1;
  cursor: pointer;
}
/* header */

.header{
	width:auto;
	height: 100px;
	}

.navbar{
	border-bottom:3px groove #FFFFFF;
}

.navbar-nagano {
	background-image: url(landscape.jpg);
	background-size: cover;
	background-position: 0% 52%;
}

.navbar-middle {
	text-align: center;
	margin-top: 50px;
}

.navbar-right {
	margin-top: 40px;
}

.navbar-link{
	font-family: 'yasashisa';
		padding-right: 30px;
		border:0px groove #FFFFFF;
		background-color: rbga(224, 225, 255, 0.3);
}

.header-message {
　margin-left: 300px;
}

/* body */
body{
	padding-top: 120px;
	background-color: #907766;
	background-image:
	 linear-gradient(-90deg, #90a0a0 50%, transparent 50%, transparent);
	background-size: 21px 21px;
	color:#FFFFFF;
	font-family: 'yasashisa';
	}

.body-container{
	margin: auto;
	padding: 30px;
	width:90%;
	background-color: #FFFFFF;
	border-left:3px  #FFFFFF;
	border-right:3px  #FFFFFF;
	min-height:750px;
	margin-bottom: 24px;
	border-radius: 8px;
}

.welocme_message {
    padding: 0.2em 0.5em;
    background: #eefff9;
    box-shadow: 0px 0px 0px 5px #97c2b9;
    color:#645244;
    }

.h3 {
    margin: 0;
    padding: 0;
}

.top_products{
	margin-top:34px;
	background-color: #eefff9;
	width: 900px;
	border:3px groove #FFFFFF;
	border-radius: 8px;
}

.show_box{
	padding: 10px;
	border:3px groove #FFFFFF;
	background-color: #FFFFFF;
	border-radius:8px;
}

.genres-box{
	border:3px groove #FFFFFF;
	border-radius: 8px;
}

.index_products{
	background-color: #F2FFFF;
	width: 95%;
	border:3px groove #FFFFFF;
	border-radius: 8px;
}
.product_box{
	margin: 20px;
	width: 250px;
	border-radius: 8px;
  color: #655244;
  background: #eefff9;
  box-shadow: 0px 0px 0px 10px #c6f5eb;
  border: dashed 1px #5a8e83;
}
.show_info
{
  display: block;
  background-color:#eefff9;
  color: #655244;
  border-radius: 8px;
  height:420px;
  box-shadow: 0px 0px 0px 10px #c6f5eb;
  border: dashed 1px #5a8e83;
  margin: 5px;
  width: 95%;
}
.product_name {
  margin-left:5px;
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.2;/*行高*/
  background: #c6f5eb;/*背景色*/
  vertical-align: middle;
  border:3px groove #FFFFFF;
  border-radius: 25px 25px 25px 25px;/*左側の角を丸く*/
}

.product_name:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

.product_name:after {
  content: ' ●';
  color: white;
  margin-right: 8px;
}

.product_introduction{
  margin-left:5px;
  display:inline-block;/*おまじない*/
  height:200px;
}

.thanks{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.thanks:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

/* footer */
footer {
	border:3px groove #FFFFFF;
	background-image: url(landscape.jpg);
	background-size: cover;
	background-position: 0% 52%;
	padding-top: 5px;
  height: 80px;
}

/* pagination */
/* ページネーション全体 */
.pagination>li>a {
	border: none;
	color: #655244;
}

/* 表示中ページ番号 */
.pagination>.active>a {
	background: #655244;
	border-radius: 15px;
}

/* ホバー時 */
.pagination>li>a:hover {
	border-radius: 15px;
}

/* search */
.admins_search {
	height: 30px;
}