// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-p {
	position: relative;
	left: 150px;
	top: 10px;
}

.btn-d {
	position: relative;
	left: 400px;
	top: 10px;
}