<p><%= @resource.name %>さま</p>

<p>ご登録メールアドレス：<%= @resource.email %></p>

<p>パスワード変更のお手続きを行います。以下のURLにて、設定を行ってください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
