<div class="col-xs-4 product_box">
		<%= link_to (product) do %>
			<span class="product_index">
				<h4><%= product.name %></h4>
			</span>
	<br>
	<div class="image_box">
		<%= attachment_image_tag(product, :image, :fill, 220, 180, fallback: "no_image.jpg") %>
	</div>
		<% end %>
	<br>
		<h4><%= render 'products/price', product: product %></h4>
</div>
