<div class="col-xs-3 product_box">
	<br>
		<%= link_to (product) do %>
		<%= attachment_image_tag(product, :image, :fill, 220, 180, fallback: "no_image.jpg") %>
	<br>
		<%= product.name %>
		<% end %>
	<br>
		<%= render 'products/price', product: product %>
</div>
