<div class="products">
	<br>
	<div class="product_image">
	<%= link_to (product) do %>
	<%= attachment_image_tag(product, :image, :fill, 100, 100, fallback: "no_image.jpg") , %>
	<div class="product_name">
	<%= product.name %>
	</div>
	<% end %>
	</div>
	<br>
	<div class="product_price">
	<%= render 'products/price', product: product %>
    </div>
</div>
