<header class="navbar navbar-fixed-top navbar-inverse">
    <nav class="nav navbar-nav navbar-left">
      <span class="header-logo">
        <%= link_to customer_top_path do %>
          <%= image_tag "logo4.jpg", alt: "NaganoCAKE", size: "300x78" %>
        <% end %>
      </span>
      <span><%= link_to 'About', customer_about_path %></span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <%= render 'layouts/links' %>
      </ul>
    </nav>
</header>

